p{
    color:#A52A2A;
    text-align:center;
    color:red;
    line-height:30px;
}
h1{
    text-align:center;
}
h3{
    text-align:center;
    color:black;
}
body{
    font-family:Georgia;
}
a{
    color:rgb(0,255,0);
    text-decoration:none;
}
button{
    color:blueviolet;;
    background-color:#fff;
}
textarea{
    color:red;
}
span{
    text-decoration:underline;
}