div{
    height:200px;
    width:500px;
    background-color:lightblue;
    /* border-width:5px;
    border-style:solid;
    border-color:blue;
    border-right: dashed;
    border-right-color: red;
    border-radius: 15px;
    padding-buttom:50px; */
    border:5px solid black;
    border-radius:15px;
    padding-top:10px;
    margin-top:50px;
    margin-left:25px;
}
h1{
    border:2px dashed red;
    border-left: solid;
    border-radius: 20px;
    padding-left:50px
}
button{
    border:2px solid black;
    border-radius:10px;
    padding-left:25px;
    padding-right:25px;
    background-color:pink;
}