section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgba(255,0,0,0.3);
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n){
    background-color: rgba(0,255,0,0.3);
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}

#one{
    transform: rotate(45deg);
}